/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/website/air-exo_1920x1080.jpg),
    url(/air-exo_1920x1080.jpg);
  background-size: cover;
  font-family: "Oswald", sans-serif;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  padding: 0 60px 0 60px;
  margin: 0 auto 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start  Variables */
:root {
  --section-padding: 60px;
  --main-color: #19c8fe;
  --secondary-color: #0f748fb3;
}
/* End  Variables */

/* Start Header*/
.header {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.header .container {
  margin-top: 13px;
}
.header .text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.header .text h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
}
/* End Header*/

/* Start app section */
.app {
  padding-bottom: var(--section-padding) / 2;
}

.app .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--section-padding);
}

.app .container .zip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app .container .zip label {
  background-color: #19c8fe82;
  border: 1px solid white;
  border-right: none;
  padding: 18px;
  font-weight: bold;
  font-size: 20px;
}

.app .container .zip input {
  border: 1px solid white;
  background-color: #33333347;
  padding: 22px 20px 21px 60px;
  caret-color: var(--main-color);
  border-left: none;
}
.app .container .zip input[type="text"] {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.app .container .zip input:focus {
  outline: 3px solid var(--main-color);
}
.app .container .zip input::placeholder {
  color: #333;
  font-size: 12px;
}

.feel {
  padding-bottom: 10px;
}

.feel .container .box01 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.feel .container .box01 textarea {
  background-color: #33333347;
  padding: 40px;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.feel .container .box01 textarea::placeholder {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
.feel .container .box01 textarea:focus {
  outline: 1px solid var(--main-color);
}
.feel .container .box01 label {
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: #19c8fe82;
  padding: 20px;
  border: 1px solid black;
}

.feel .container .box01 button {
  background-color: #0f748f42;
  border: 1px solid black;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 5px 5px 3px 2px rgb(0 0 0 / 20%);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.feel .container .box01 button:hover {
  background-color: var(--main-color);
  color: white;
}

/* End app section */

/* Start Entry  */
.entry {
  padding-bottom: var(--section-padding);
}

.entry .container .box02 {
  display: flex;
  text-align: center;
  background-color: #33333347;
  /* width: 100%; */
  margin: auto;
  flex-direction: column;
}

.entry .container .title {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.entry .container #date,
.entry .container #temp,
.entry .container #content {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.5px;
}
/* End Entry  */

/* Start Footer*/
.footer {
  font-size: 12px;
  position: absolute;
  left: 10px;
  bottom: 0;
}
/* End Footer*/
